* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* common style here 
-------------------- */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}

.primary-btn a {
    text-decoration: none;
    color: white;
}

.primary-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    background-image: linear-gradient(rgb(255, 50, 50), rgb(255, 75, 43));
    border: none;
    border-radius: 5px;

}

/* header style starts here 
--------------------------- */
header {
    background-color: #fff3e8;
}

.navbar {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>ul {
    display: flex;
}

.navbar>ul>li {
    list-style: none;
    margin-right: 25px;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* banner style here 
---------------------- */
.banner {
    display: flex;
    flex-direction: column;
}

.banner .banner-image img {
    width: 100%;
}

.banner-description {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.banner-title {
    font-size: 3em;
    font-weight: 900;
}

.banner-text {
    margin-bottom: 14px;
}

/* feature section style here 
------------------------------ */
.features {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;

}

.half-width {
    width: 40%;
}

.feature-images img {
    width: 100%;
}

.feature-title {
    font-weight: 400;
}

#our {
    font-weight: 900;
}

.orange-color {
    font-weight: 900;
    color: orange;
}

.feture-description {
    margin: 15px 0;
}

/* More feature and Architect section styles */
.architect {
    display: flex;
    justify-content: space-around;
}

.architect-width {
    width: 45%;
}

.architect-title {
    font-weight: 900;
    border-left: 5px solid orange;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 12px;
}

.architect-image img {
    width: 100%;
}

.architect-description {
    margin-bottom: 15px;
}

.architect-demo {
    padding: 10px 20px;
    box-shadow: 6px 5px 10px lightgray;
    margin-top: 10px;
}

.experience-btn {
    text-align: center;
    position: relative;
    left: 600px;
    bottom: 80px;
    padding: 15px;
    background-color: orange;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

#experience {
    font-size: 16px;
    display: block;
}

/* Some facts styles here  */
.fact-details {
    width: 50%;
}

.facts {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.fact {
    text-align: center;
    border: 1px solid rgb(255, 115, 63);
    padding: 15px;
    border-radius: 5px;
    transition: transform 2s .2s;
}

.fact:hover {
    transform: rotate(360deg) scale(1.5);
}

/* sponser area style sheets  */
#sponser-heading {
    text-align: center;
}

.sponser-description {
    width: 50%;
    margin: 15px auto;
    text-align: center;
}

.sponser-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* footer area design  */
footer {
    width: 90%;
    text-align: center;
    background-color: #fff3e8;
    border-radius: 5px;
    margin: 50px auto;
    padding: 10px 0;
}

/* Media quary for Mobile Devices */

@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    /* header section mobile device media quary */
    .navbar {
        flex-direction: column;
    }

    .navbar>ul {
        margin-top: 15px;
    }

    .banner-description {
        width: 100%;

    }

    .banner-title {
        font-size: 2em;
    }

    /* feature section media quary */
    .features {
        width: 90%;
        margin: 50px auto;
        flex-direction: column;
    }

    .half-width {
        width: 100%;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);

    }

    /* More feature and Architect section style here  */
    .architect {
        flex-direction: column;
    }

    .architect-width {
        width: 100%;
        margin-top: 15px;
    }

    .experience-btn {
        left: 60px;
    }

    /* some facts area media quaries */
    .fact-details {
        width: 100%;
    }

    .facts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .fact:hover {
        transform: rotate(20deg) scale(.75);
    }

    /* sponsors area media quaries  */
    .sponser-description {
        width: 100%;
    }

    .sponser-image {
        flex-direction: column;
    }

    .sponser-image img {
        margin-top: 10px;
    }
}